<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Public/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    {{!-- <h1> This is the {{title}} page</h1>
    <h2> My name is {{name}}</h2> --}}

    <header>
      <nav>
       <a href="/">Amr</a>
        <a href="/">Justin</a>
        <a href="/">Joe</a>


      </nav>
      <h1 class="headline">Team Page</h1>
    </header>


    <div class="container">
        <div class="box">
            <img src="images/profile.jpg" alt="">
            <ul>
                <li>Justin</li>
                <li>39 Years</li>
                <li>Corrdinator</li>
                
        </div>
        <div class="About">
            <ul>
                <h2>About :</h2>
            </ul>
            <ul>
                <h3>Work</h3>
                <li>Web developer</li>
            </ul>
            <ul>
                <h3>Gender</h3>
                <li>male</li>
            </ul>
            <ul>
                <h3>Country</h3>
                <li>Canada</li>
            </ul>
            <ul>
                <h3>More Info</h3>
                <p>professor in the Computer & Informational Tech. department at Fanshawe College.  Coordinator and Professor, Fanshawe College, Interactive Media Design and 3D Visualization. </p>
            </ul>
            <ul>
                <h3>Contact</h3>
                <li>jbrunner@fanshaweonline.ca</li>
            </ul>
        </div>
    </div>


</body>
</html>
     
</body>
</html>