<!DOCTYPE html>
<html>
  {{!-- <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head> --}}
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/ionicons-css@5.2.1/dist/icon.css">

</head>
  <body>
    {{!-- <h1>This is our awesome team page</h1> --}}

    <header>
      <nav>
        <ul>
        <li><a href="/team/justin">justin</a></li>
        <li><a href="/team/John">Joe</a></li>
        <li><a href="/team/joe">John</a></li>
        </ul>
      </nav>
      <h1>Dynamic content goes here</h1>
    </header>

    <!-- never touch this code-->

    {{{body}}}
    

    <hr>
    <h3>dynamic content ends here</h3>
  </body>
</html>
